<div class="form-wraper">

<%= form_for :observation, url: experiment_observations_path(@experiment) do |f| %>
  <p><%= f.label :body %></p>
    <p><%= f.text_area :body %></p>

  <p>
    <%= f.submit %>
  </p>
  <% end %>

</div>