<div class="observations-container">

  <% parent.observations.each do |observation| %>
    <%= render partial: 'observations/observation', locals: {observation: observation} %>
  <% end %>
  <%= render partial: 'observations/form', locals: {parent: parent} %>
</div>
