/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.procedures {
  background-color: #eaf2ff;
}

.experiment-container {
  background-color: #eaf2ff;
}

textarea {
  width: 100%;
  height: 100px;
}

a {
  text-decoration: none;
}

.proposal ul {
  list-style: none;
}

.proposal {
  border: solid 5px lightgrey;
  padding: 2em 0 2em 0;
  background-color: #eaf2ff;
}

#proposal-title {
  width: 100%;

}

.proposal > * {
  padding-left: 2em;
  padding-right: 2em;
}



.container {
  width: 600px;
  margin: 0 auto;
}


.proposals {
  font-size: 1.5em;
}

.proposals ul{
  list-style: none;
}

.proposals li{
  padding: 5px;
}

.proposals li:nth-child(even) {
  background-color: #eaf2ff;
}
